---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/analyses/u-a354494a73382ea0b4bc47f4c9e8d6c578027cd4598196dc88f05a22b5817293-1599122231
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - theapikey
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - ee845ce2e3e28aee8c7f2c8e2de417cd
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "attributes": {
                    "date": 1599122231,
                    "results": {
                        "ADMINUSLabs": {
                            "category": "harmless",
                            "engine_name": "ADMINUSLabs",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AegisLab WebGuard": {
                            "category": "harmless",
                            "engine_name": "AegisLab WebGuard",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AlienVault": {
                            "category": "harmless",
                            "engine_name": "AlienVault",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Antiy-AVL": {
                            "category": "harmless",
                            "engine_name": "Antiy-AVL",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Artists Against 419": {
                            "category": "harmless",
                            "engine_name": "Artists Against 419",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AutoShun": {
                            "category": "undetected",
                            "engine_name": "AutoShun",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Avira": {
                            "category": "harmless",
                            "engine_name": "Avira",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BADWARE.INFO": {
                            "category": "harmless",
                            "engine_name": "BADWARE.INFO",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Baidu-International": {
                            "category": "harmless",
                            "engine_name": "Baidu-International",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BitDefender": {
                            "category": "harmless",
                            "engine_name": "BitDefender",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BlockList": {
                            "category": "harmless",
                            "engine_name": "BlockList",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Blueliv": {
                            "category": "harmless",
                            "engine_name": "Blueliv",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CINS Army": {
                            "category": "harmless",
                            "engine_name": "CINS Army",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CLEAN MX": {
                            "category": "harmless",
                            "engine_name": "CLEAN MX",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CRDF": {
                            "category": "harmless",
                            "engine_name": "CRDF",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Certego": {
                            "category": "harmless",
                            "engine_name": "Certego",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Comodo Valkyrie Verdict": {
                            "category": "harmless",
                            "engine_name": "Comodo Valkyrie Verdict",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CyRadar": {
                            "category": "harmless",
                            "engine_name": "CyRadar",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Cyan": {
                            "category": "undetected",
                            "engine_name": "Cyan",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "CyberCrime": {
                            "category": "harmless",
                            "engine_name": "CyberCrime",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Cyren": {
                            "category": "harmless",
                            "engine_name": "Cyren",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "DNS8": {
                            "category": "harmless",
                            "engine_name": "DNS8",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Dr.Web": {
                            "category": "harmless",
                            "engine_name": "Dr.Web",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ESET": {
                            "category": "harmless",
                            "engine_name": "ESET",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "EmergingThreats": {
                            "category": "harmless",
                            "engine_name": "EmergingThreats",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Emsisoft": {
                            "category": "harmless",
                            "engine_name": "Emsisoft",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "EonScope": {
                            "category": "harmless",
                            "engine_name": "EonScope",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Feodo Tracker": {
                            "category": "harmless",
                            "engine_name": "Feodo Tracker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Forcepoint ThreatSeeker": {
                            "category": "harmless",
                            "engine_name": "Forcepoint ThreatSeeker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Fortinet": {
                            "category": "harmless",
                            "engine_name": "Fortinet",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "FraudScore": {
                            "category": "harmless",
                            "engine_name": "FraudScore",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "G-Data": {
                            "category": "harmless",
                            "engine_name": "G-Data",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Google Safebrowsing": {
                            "category": "harmless",
                            "engine_name": "Google Safebrowsing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "GreenSnow": {
                            "category": "harmless",
                            "engine_name": "GreenSnow",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Hoplite Industries": {
                            "category": "harmless",
                            "engine_name": "Hoplite Industries",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "IPsum": {
                            "category": "harmless",
                            "engine_name": "IPsum",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "K7AntiVirus": {
                            "category": "harmless",
                            "engine_name": "K7AntiVirus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Kaspersky": {
                            "category": "harmless",
                            "engine_name": "Kaspersky",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Lumu": {
                            "category": "undetected",
                            "engine_name": "Lumu",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "MalSilo": {
                            "category": "harmless",
                            "engine_name": "MalSilo",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malware Domain Blocklist": {
                            "category": "harmless",
                            "engine_name": "Malware Domain Blocklist",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "MalwareDomainList": {
                            "category": "harmless",
                            "engine_name": "MalwareDomainList",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "MalwarePatrol": {
                            "category": "harmless",
                            "engine_name": "MalwarePatrol",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malwared": {
                            "category": "harmless",
                            "engine_name": "Malwared",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Netcraft": {
                            "category": "undetected",
                            "engine_name": "Netcraft",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "NotMining": {
                            "category": "undetected",
                            "engine_name": "NotMining",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Nucleon": {
                            "category": "harmless",
                            "engine_name": "Nucleon",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "OpenPhish": {
                            "category": "harmless",
                            "engine_name": "OpenPhish",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "PREBYTES": {
                            "category": "harmless",
                            "engine_name": "PREBYTES",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "PhishLabs": {
                            "category": "undetected",
                            "engine_name": "PhishLabs",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Phishing Database": {
                            "category": "harmless",
                            "engine_name": "Phishing Database",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Phishtank": {
                            "category": "harmless",
                            "engine_name": "Phishtank",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Quick Heal": {
                            "category": "harmless",
                            "engine_name": "Quick Heal",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Quttera": {
                            "category": "harmless",
                            "engine_name": "Quttera",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Rising": {
                            "category": "harmless",
                            "engine_name": "Rising",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "SCUMWARE.org": {
                            "category": "harmless",
                            "engine_name": "SCUMWARE.org",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sangfor": {
                            "category": "harmless",
                            "engine_name": "Sangfor",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "SecureBrain": {
                            "category": "harmless",
                            "engine_name": "SecureBrain",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Snort IP sample list": {
                            "category": "harmless",
                            "engine_name": "Snort IP sample list",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sophos": {
                            "category": "harmless",
                            "engine_name": "Sophos",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Spam404": {
                            "category": "harmless",
                            "engine_name": "Spam404",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Spamhaus": {
                            "category": "harmless",
                            "engine_name": "Spamhaus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "StopBadware": {
                            "category": "undetected",
                            "engine_name": "StopBadware",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "StopForumSpam": {
                            "category": "harmless",
                            "engine_name": "StopForumSpam",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sucuri SiteCheck": {
                            "category": "harmless",
                            "engine_name": "Sucuri SiteCheck",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Tencent": {
                            "category": "harmless",
                            "engine_name": "Tencent",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ThreatHive": {
                            "category": "harmless",
                            "engine_name": "ThreatHive",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Threatsourcing": {
                            "category": "harmless",
                            "engine_name": "Threatsourcing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Trustwave": {
                            "category": "harmless",
                            "engine_name": "Trustwave",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "URLhaus": {
                            "category": "harmless",
                            "engine_name": "URLhaus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "VX Vault": {
                            "category": "harmless",
                            "engine_name": "VX Vault",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Virusdie External Site Scan": {
                            "category": "harmless",
                            "engine_name": "Virusdie External Site Scan",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Web Security Guard": {
                            "category": "harmless",
                            "engine_name": "Web Security Guard",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Yandex Safebrowsing": {
                            "category": "harmless",
                            "engine_name": "Yandex Safebrowsing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZeroCERT": {
                            "category": "harmless",
                            "engine_name": "ZeroCERT",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "desenmascara.me": {
                            "category": "harmless",
                            "engine_name": "desenmascara.me",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "malwares.com URL checker": {
                            "category": "harmless",
                            "engine_name": "malwares.com URL checker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "securolytics": {
                            "category": "harmless",
                            "engine_name": "securolytics",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "zvelo": {
                            "category": "harmless",
                            "engine_name": "zvelo",
                            "method": "blacklist",
                            "result": "clean"
                        }
                    },
                    "stats": {
                        "harmless": 72,
                        "malicious": 0,
                        "suspicious": 0,
                        "timeout": 0,
                        "undetected": 7
                    },
                    "status": "completed"
                },
                "id": "u-a354494a73382ea0b4bc47f4c9e8d6c578027cd4598196dc88f05a22b5817293-1599122231",
                "type": "analysis"
            },
            "meta": {
                "url_info": {
                    "id": "a354494a73382ea0b4bc47f4c9e8d6c578027cd4598196dc88f05a22b5817293",
                    "url": "http://virustotal.com/"
                }
            }
        }
  recorded_at: Thu, 03 Sep 2020 08:43:03 GMT
recorded_with: VCR 6.0.0
