---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/domains/virustotal.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - testapikey
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - d3a91be9aeda78744e719f40f67b8936
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "attributes": {
                    "categories": {
                        "BitDefender": "computersandsoftware",
                        "Comodo Valkyrie Verdict": "mobile communications",
                        "Forcepoint ThreatSeeker": "computer security",
                        "sophos": "information technology"
                    },
                    "creation_date": 1032308169,
                    "favicon": {
                        "dhash": "06c1c2c4c4d2c106",
                        "raw_md5": "1bc1faf71106e964e44cb17ab4dd8d11"
                    },
                    "last_analysis_results": {
                        "ADMINUSLabs": {
                            "category": "harmless",
                            "engine_name": "ADMINUSLabs",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AegisLab WebGuard": {
                            "category": "harmless",
                            "engine_name": "AegisLab WebGuard",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AlienVault": {
                            "category": "harmless",
                            "engine_name": "AlienVault",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Antiy-AVL": {
                            "category": "harmless",
                            "engine_name": "Antiy-AVL",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Artists Against 419": {
                            "category": "harmless",
                            "engine_name": "Artists Against 419",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AutoShun": {
                            "category": "undetected",
                            "engine_name": "AutoShun",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Avira": {
                            "category": "harmless",
                            "engine_name": "Avira",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BADWARE.INFO": {
                            "category": "harmless",
                            "engine_name": "BADWARE.INFO",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Baidu-International": {
                            "category": "harmless",
                            "engine_name": "Baidu-International",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BitDefender": {
                            "category": "harmless",
                            "engine_name": "BitDefender",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BlockList": {
                            "category": "harmless",
                            "engine_name": "BlockList",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Blueliv": {
                            "category": "harmless",
                            "engine_name": "Blueliv",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Botvrij.eu": {
                            "category": "harmless",
                            "engine_name": "Botvrij.eu",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CINS Army": {
                            "category": "harmless",
                            "engine_name": "CINS Army",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CLEAN MX": {
                            "category": "harmless",
                            "engine_name": "CLEAN MX",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CRDF": {
                            "category": "harmless",
                            "engine_name": "CRDF",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Certego": {
                            "category": "harmless",
                            "engine_name": "Certego",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Comodo Site Inspector": {
                            "category": "harmless",
                            "engine_name": "Comodo Site Inspector",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Comodo Valkyrie Verdict": {
                            "category": "harmless",
                            "engine_name": "Comodo Valkyrie Verdict",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CyRadar": {
                            "category": "harmless",
                            "engine_name": "CyRadar",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Cyan": {
                            "category": "undetected",
                            "engine_name": "Cyan",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "CyberCrime": {
                            "category": "harmless",
                            "engine_name": "CyberCrime",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Cyren": {
                            "category": "harmless",
                            "engine_name": "Cyren",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "DNS8": {
                            "category": "harmless",
                            "engine_name": "DNS8",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Dr.Web": {
                            "category": "harmless",
                            "engine_name": "Dr.Web",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ESET": {
                            "category": "harmless",
                            "engine_name": "ESET",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ESTsecurity-Threat Inside": {
                            "category": "harmless",
                            "engine_name": "ESTsecurity-Threat Inside",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "EmergingThreats": {
                            "category": "harmless",
                            "engine_name": "EmergingThreats",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Emsisoft": {
                            "category": "harmless",
                            "engine_name": "Emsisoft",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "EonScope": {
                            "category": "harmless",
                            "engine_name": "EonScope",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Feodo Tracker": {
                            "category": "harmless",
                            "engine_name": "Feodo Tracker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Forcepoint ThreatSeeker": {
                            "category": "harmless",
                            "engine_name": "Forcepoint ThreatSeeker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Fortinet": {
                            "category": "harmless",
                            "engine_name": "Fortinet",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "FraudScore": {
                            "category": "harmless",
                            "engine_name": "FraudScore",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "FraudSense": {
                            "category": "harmless",
                            "engine_name": "FraudSense",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "G-Data": {
                            "category": "harmless",
                            "engine_name": "G-Data",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Google Safebrowsing": {
                            "category": "harmless",
                            "engine_name": "Google Safebrowsing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "GreenSnow": {
                            "category": "harmless",
                            "engine_name": "GreenSnow",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Hoplite Industries": {
                            "category": "harmless",
                            "engine_name": "Hoplite Industries",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "IPsum": {
                            "category": "harmless",
                            "engine_name": "IPsum",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "K7AntiVirus": {
                            "category": "harmless",
                            "engine_name": "K7AntiVirus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Kaspersky": {
                            "category": "harmless",
                            "engine_name": "Kaspersky",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Lumu": {
                            "category": "undetected",
                            "engine_name": "Lumu",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "MalSilo": {
                            "category": "harmless",
                            "engine_name": "MalSilo",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malc0de Database": {
                            "category": "harmless",
                            "engine_name": "Malc0de Database",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malekal": {
                            "category": "harmless",
                            "engine_name": "Malekal",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malware Domain Blocklist": {
                            "category": "harmless",
                            "engine_name": "Malware Domain Blocklist",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "MalwareDomainList": {
                            "category": "harmless",
                            "engine_name": "MalwareDomainList",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "MalwarePatrol": {
                            "category": "harmless",
                            "engine_name": "MalwarePatrol",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malwarebytes hpHosts": {
                            "category": "harmless",
                            "engine_name": "Malwarebytes hpHosts",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malwared": {
                            "category": "harmless",
                            "engine_name": "Malwared",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Netcraft": {
                            "category": "undetected",
                            "engine_name": "Netcraft",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "NotMining": {
                            "category": "undetected",
                            "engine_name": "NotMining",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Nucleon": {
                            "category": "harmless",
                            "engine_name": "Nucleon",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "OpenPhish": {
                            "category": "harmless",
                            "engine_name": "OpenPhish",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Opera": {
                            "category": "harmless",
                            "engine_name": "Opera",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "PREBYTES": {
                            "category": "harmless",
                            "engine_name": "PREBYTES",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "PhishLabs": {
                            "category": "undetected",
                            "engine_name": "PhishLabs",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Phishing Database": {
                            "category": "harmless",
                            "engine_name": "Phishing Database",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Phishtank": {
                            "category": "harmless",
                            "engine_name": "Phishtank",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Quick Heal": {
                            "category": "harmless",
                            "engine_name": "Quick Heal",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Quttera": {
                            "category": "harmless",
                            "engine_name": "Quttera",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Rising": {
                            "category": "harmless",
                            "engine_name": "Rising",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "SCUMWARE.org": {
                            "category": "harmless",
                            "engine_name": "SCUMWARE.org",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sangfor": {
                            "category": "harmless",
                            "engine_name": "Sangfor",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "SecureBrain": {
                            "category": "harmless",
                            "engine_name": "SecureBrain",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Segasec": {
                            "category": "undetected",
                            "engine_name": "Segasec",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Snort IP sample list": {
                            "category": "harmless",
                            "engine_name": "Snort IP sample list",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sophos": {
                            "category": "harmless",
                            "engine_name": "Sophos",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Spam404": {
                            "category": "harmless",
                            "engine_name": "Spam404",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Spamhaus": {
                            "category": "harmless",
                            "engine_name": "Spamhaus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "StopBadware": {
                            "category": "undetected",
                            "engine_name": "StopBadware",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "StopForumSpam": {
                            "category": "harmless",
                            "engine_name": "StopForumSpam",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sucuri SiteCheck": {
                            "category": "harmless",
                            "engine_name": "Sucuri SiteCheck",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Tencent": {
                            "category": "harmless",
                            "engine_name": "Tencent",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ThreatHive": {
                            "category": "harmless",
                            "engine_name": "ThreatHive",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Threatsourcing": {
                            "category": "harmless",
                            "engine_name": "Threatsourcing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Trustwave": {
                            "category": "harmless",
                            "engine_name": "Trustwave",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "URLQuery": {
                            "category": "harmless",
                            "engine_name": "URLQuery",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "URLhaus": {
                            "category": "harmless",
                            "engine_name": "URLhaus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "VX Vault": {
                            "category": "harmless",
                            "engine_name": "VX Vault",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Virusdie External Site Scan": {
                            "category": "harmless",
                            "engine_name": "Virusdie External Site Scan",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Web Security Guard": {
                            "category": "harmless",
                            "engine_name": "Web Security Guard",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Yandex Safebrowsing": {
                            "category": "harmless",
                            "engine_name": "Yandex Safebrowsing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZCloudsec": {
                            "category": "harmless",
                            "engine_name": "ZCloudsec",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZDB Zeus": {
                            "category": "harmless",
                            "engine_name": "ZDB Zeus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZeroCERT": {
                            "category": "harmless",
                            "engine_name": "ZeroCERT",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Zerofox": {
                            "category": "harmless",
                            "engine_name": "Zerofox",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZeusTracker": {
                            "category": "harmless",
                            "engine_name": "ZeusTracker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "desenmascara.me": {
                            "category": "harmless",
                            "engine_name": "desenmascara.me",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "malwares.com URL checker": {
                            "category": "harmless",
                            "engine_name": "malwares.com URL checker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "securolytics": {
                            "category": "harmless",
                            "engine_name": "securolytics",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "zvelo": {
                            "category": "harmless",
                            "engine_name": "zvelo",
                            "method": "blacklist",
                            "result": "clean"
                        }
                    },
                    "last_analysis_stats": {
                        "harmless": 86,
                        "malicious": 0,
                        "suspicious": 0,
                        "timeout": 0,
                        "undetected": 8
                    },
                    "last_dns_records": [
                        {
                            "ttl": 299,
                            "type": "A",
                            "value": "216.239.32.21"
                        },
                        {
                            "ttl": 21599,
                            "type": "NS",
                            "value": "ns1.google.com"
                        },
                        {
                            "ttl": 299,
                            "type": "AAAA",
                            "value": "2001:4860:4802:34::15"
                        },
                        {
                            "ttl": 299,
                            "type": "A",
                            "value": "216.239.38.21"
                        },
                        {
                            "expire": 1800,
                            "minimum": 60,
                            "refresh": 900,
                            "retry": 900,
                            "rname": "dns-admin.google.com",
                            "serial": 329472109,
                            "ttl": 59,
                            "type": "SOA",
                            "value": "ns1.google.com"
                        },
                        {
                            "ttl": 1799,
                            "type": "TXT",
                            "value": "google-site-verification=Qq9eZi7f40MwYOcrV5vdApFIaFm4aneacq0Lzrcnugg"
                        },
                        {
                            "ttl": 21599,
                            "type": "NS",
                            "value": "ns2.google.com"
                        },
                        {
                            "priority": 30,
                            "ttl": 599,
                            "type": "MX",
                            "value": "vtmail3.virustotal.com"
                        },
                        {
                            "priority": 20,
                            "ttl": 599,
                            "type": "MX",
                            "value": "vtmail2.virustotal.com"
                        },
                        {
                            "ttl": 299,
                 [...]
