---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/files/01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - testapikey
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 3dcde25d6fa7896edd5d4044bbc2682f
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "attributes": {
                    "authentihash": "59f506734a1bedf95e871bc95eb38dae2aede7b48986e2108021c584bb53c685",
                    "creation_date": 1330865387,
                    "dot_net_guids": {
                        "mvid": "5beaa6c7-a8b7-46a2-a2cd-5d878c3b22e6",
                        "typelib_id": "728093e4-7457-46be-8e8e-0fdee382cfff"
                    },
                    "downloadable": true,
                    "exiftool": {
                        "AssemblyVersion": "1.3.0.0",
                        "CharacterSet": "Unicode",
                        "CodeSize": "15360",
                        "EntryPoint": "0x5bde",
                        "FileFlagsMask": "0x003f",
                        "FileOS": "Win32",
                        "FileSubtype": "0",
                        "FileType": "Win32 EXE",
                        "FileTypeExtension": "exe",
                        "FileVersion": "1.3.0.0",
                        "FileVersionNumber": "1.3.0.0",
                        "ImageFileCharacteristics": "Executable, 32-bit",
                        "ImageVersion": "0.0",
                        "InitializedDataSize": "5120",
                        "InternalName": "WindowsApplication1.exe",
                        "LanguageCode": "Neutral",
                        "LegalCopyright": "WindowsApplication1",
                        "LegalTrademarks": "WindowsApplication1",
                        "LinkerVersion": "8.0",
                        "MIMEType": "application/octet-stream",
                        "MachineType": "Intel 386 or later, and compatibles",
                        "OSVersion": "4.0",
                        "ObjectFileType": "Executable application",
                        "OriginalFileName": "WindowsApplication1.exe",
                        "PEType": "PE32",
                        "ProductVersion": "1.3.0.0",
                        "ProductVersionNumber": "1.3.0.0",
                        "Subsystem": "Windows GUI",
                        "SubsystemVersion": "4.0",
                        "TimeStamp": "2012:03:04 13:49:47+01:00",
                        "UninitializedDataSize": "0"
                    },
                    "first_seen_itw_date": 1309516636,
                    "first_submission_date": 1331065880,
                    "last_analysis_date": 1571882366,
                    "last_analysis_results": {
                        "ALYac": {
                            "category": "malicious",
                            "engine_name": "ALYac",
                            "engine_update": "20191024",
                            "engine_version": "1.1.1.5",
                            "method": "blacklist",
                            "result": "Gen:Variant.Razy.448897"
                        },
                        "APEX": {
                            "category": "malicious",
                            "engine_name": "APEX",
                            "engine_update": "20191022",
                            "engine_version": "5.76",
                            "method": "blacklist",
                            "result": "Malicious"
                        },
                        "AVG": {
                            "category": "malicious",
                            "engine_name": "AVG",
                            "engine_update": "20191024",
                            "engine_version": "18.4.3895.0",
                            "method": "blacklist",
                            "result": "MSIL:GenMalicious-BHV [Trj]"
                        },
                        "Acronis": {
                            "category": "undetected",
                            "engine_name": "Acronis",
                            "engine_update": "20191018",
                            "engine_version": "1.1.1.58",
                            "method": "blacklist",
                            "result": null
                        },
                        "Ad-Aware": {
                            "category": "malicious",
                            "engine_name": "Ad-Aware",
                            "engine_update": "20191024",
                            "engine_version": "3.0.5.370",
                            "method": "blacklist",
                            "result": "Gen:Variant.Razy.448897"
                        },
                        "AegisLab": {
                            "category": "malicious",
                            "engine_name": "AegisLab",
                            "engine_update": "20191024",
                            "engine_version": "4.2",
                            "method": "blacklist",
                            "result": "Adware.MSIL.Generic.lxai"
                        },
                        "AhnLab-V3": {
                            "category": "malicious",
                            "engine_name": "AhnLab-V3",
                            "engine_update": "20191024",
                            "engine_version": "3.16.3.25410",
                            "method": "blacklist",
                            "result": "Win-Trojan/MSILKrypt09.Exp"
                        },
                        "Alibaba": {
                            "category": "malicious",
                            "engine_name": "Alibaba",
                            "engine_update": "20190527",
                            "engine_version": "0.3.0.5",
                            "method": "blacklist",
                            "result": "Backdoor:Win32/Fynloski.ddc60b83"
                        },
                        "Antiy-AVL": {
                            "category": "malicious",
                            "engine_name": "Antiy-AVL",
                            "engine_update": "20191024",
                            "engine_version": "3.0.0.1",
                            "method": "blacklist",
                            "result": "Trojan/Win32.Inject"
                        },
                        "Arcabit": {
                            "category": "malicious",
                            "engine_name": "Arcabit",
                            "engine_update": "20191024",
                            "engine_version": "1.0.0.861",
                            "method": "blacklist",
                            "result": "Trojan.Razy.D6D981"
                        },
                        "Avast": {
                            "category": "malicious",
                            "engine_name": "Avast",
                            "engine_update": "20191024",
                            "engine_version": "18.4.3895.0",
                            "method": "blacklist",
                            "result": "MSIL:GenMalicious-BHV [Trj]"
                        },
                        "Avast-Mobile": {
                            "category": "undetected",
                            "engine_name": "Avast-Mobile",
                            "engine_update": "20191012",
                            "engine_version": "191012-04",
                            "method": "blacklist",
                            "result": null
                        },
                        "Avira": {
                            "category": "malicious",
                            "engine_name": "Avira",
                            "engine_update": "20191023",
                            "engine_version": "8.3.3.8",
                            "method": "blacklist",
                            "result": "TR/Dropper.Gen"
                        },
                        "Baidu": {
                            "category": "undetected",
                            "engine_name": "Baidu",
                            "engine_update": "20190318",
                            "engine_version": "1.0.0.2",
                            "method": "blacklist",
                            "result": null
                        },
                        "BitDefender": {
                            "category": "malicious",
                            "engine_name": "BitDefender",
                            "engine_update": "20191024",
                            "engine_version": "7.2",
                            "method": "blacklist",
                            "result": "Gen:Variant.Razy.448897"
                        },
                        "Bkav": {
                            "category": "undetected",
                            "engine_name": "Bkav",
                            "engine_update": "20191023",
                            "engine_version": "1.3.0.10239",
                            "method": "blacklist",
                            "result": null
                        },
                        "CAT-QuickHeal": {
                            "category": "malicious",
                            "engine_name": "CAT-QuickHeal",
                            "engine_update": "20191022",
                            "engine_version": "14.00",
                            "method": "blacklist",
                            "result": "Trojan.GenericFC.S6053517"
                        },
                        "CMC": {
                            "category": "malicious",
                            "engine_name": "CMC",
                            "engine_update": "20190321",
                            "engine_version": "1.1.0.977",
                            "method": "blacklist",
                            "result": "Trojan.MSIL.Agent!O"
                        },
                        "ClamAV": {
                            "category": "malicious",
                            "engine_name": "ClamAV",
                            "engine_update": "20191023",
                            "engine_version": "0.102.0.0",
                            "method": "blacklist",
                            "result": "Win.Trojan.Agent-1389032"
                        },
                        "Comodo": {
                            "category": "malicious",
                            "engine_name": "Comodo",
                            "engine_update": "20191024",
                            "engine_version": "31639",
                            "method": "blacklist",
                            "result": "TrojWare.MSIL.TrojanDropper.Agent.VX@4na2u0"
                        },
                        "CrowdStrike": {
                            "category": "malicious",
                            "engine_name": "CrowdStrike",
                            "engine_update": "20190702",
                            "engine_version": "1.0",
                            "method": "blacklist",
                            "result": "win/malicious_confidence_100% (D)"
                        },
                        "Cybereason": {
                            "category": "malicious",
                            "engine_name": "Cybereason",
                            "engine_update": "20190616",
                            "engine_version": "1.2.449",
                            "method": "blacklist",
                            "result": "malicious.f5a002"
                        },
                        "Cylance": {
                            "category": "malicious",
                            "engine_name": "Cylance",
                            "engine_update": "20191024",
                            "engine_version": "2.3.1.101",
                            "method": "blacklist",
                            "result": "Unsafe"
                        },
                        "Cyren": {
                            "category": "malicious",
                            "engine_name": "Cyren",
                            "engine_update": "20191024",
                            "engine_version": "6.2.2.2",
                            "method": "blacklist",
                            "result": "W32/A-7f374f2a!Eldorado"
                        },
                        "DrWeb": {
                            "category": "malicious",
                            "engine_name": "DrWeb",
                            "engine_update": "20191024",
                            "engine_version": "7.0.41.7240",
                            "method": "blacklist",
                            "result": "Win32.HLLW.Autoruner.25074"
                        },
                        "ESET-NOD32": {
                            "category": "malicious",
                            "engine_name": "ESET-NOD32",
                            "engine_update": "20191024",
                            "engine_version": "20231",
                            "method": "blacklist",
                            "result": "a variant of MSIL/Injector.VX"
                        },
                        "Emsisoft": {
                            "category": "malicious",
                            "engine_name": "Emsisoft",
                            "engine_update": "20191024",
                            "engine_version": "2018.12.0.1641",
                            "method": "blacklist",
                            "result": "Gen:Variant.Razy.448897 (B)"
                        },
                        "Endgame": {
                            "category": "malicious",
                            "engine_name": "Endgame",
                            "engine_update": "20190918",
                            "engine_version": "3.0.15",
                            "method": "blacklist",
                            "result": "malicious (high confidence)"
                        },
                        "F-Prot": {
                            "category": "malicious",
                            "engine_name": "F-Prot",
                            "engine_update": "20191024",
                            "engine_version": "4.7.1.166",
                            "method": "blacklist",
                            "result": "W32/A-7f374f2a!Eldorado"
                        },
                        "F-Secure": {
                            "category": "malicious",
                            "engine_name": "F-Secure",
                            "engine_update": "20191024",
                            "engine_version": "12.0.86.52",
                            "method": "blacklist",
                            "result": "Trojan.TR/Dropper.Gen"
                        },
                        "FireEye": {
                            "category": "malicious",
                            "engine_name": "FireEye",
                            "engine_update": "20191024",
                            "engine_version": "29.7.0.0",
                            "method": "blacklist",
                            "result": "Generic.mg.e2a1373f5a0024b8"
                        },
                        "Fortinet": {
                            "category": "malicious",
                            "engine_name": "Fortinet",
                            "engine_update": "20191024",
                            "engine_version": "5.4.247.0",
                            "method": "blacklist",
                            "result": "MSIL/Injector.VCX!tr"
                        },
                        "GData": {
                            "category": "malicious",
                            "engine_name": "GData",
                            "engine_update": "20191024",
                            "engine_version": "A:25.23753B:26.16399",
                            "method": "blacklist",
                            "result": "Gen:Variant.Razy.448897"
                        },
                        "Ikarus": {
                            "category": "malicious",
                            "engine_name": "Ikarus",
                            "engine_update": "20191023",
                            "engine_version": "0.1.5.2",
                            "method": "blacklist",
                            "result": "Trojan-Dropper"
                        },
                        "Invincea": {
                            "category": "malicious",
                            "engine_name": "Invincea",
                            "engine_update": "20190904",
                            "engine_version": "6.3.6.26157",
                            "method": "blacklist",
                            "result": "heuristic"
                        },
                        "Jiangmin": {
                            "category": "malicious",
                            "engine_name": "Jiangmin",
                            "engine_update": "20191024",
                            "engine_version": "16.0.100",
                            "method": "blacklist",
                            "result": "Trojan.Generic.adixj"
                        },
                        "K7AntiVirus": {
                            "category": "malicious",
                            "engine_name": "K7AntiVirus",
                            "engine_update": "20191023",
                            "engine_version": "11.74.32344",
                            "method": "blacklist",
                            "result": "Trojan ( 00363f4b1 )"
                        },
                        "K7GW": {
                            "category": "malicious",
                            "engine_name": "K7GW",
                            "engine_update": "20191023",
                            "engine_version": "11.74.32341",
                            "method": "blacklist",
                            "result": "Trojan ( 00363f4b1 )"
                        },
                        "Kaspersky": {
                            "category": "malicious",
                            "engine_name": "Kaspersky",
                            "engine_update": "20191024",
                            "engine_version": "15.0.1.13",
                            "method": "blacklist",
                            "result": "HEUR:Trojan.Win32.Generic"
                        },
                        "Kingsoft": {
                            "category": "undetected",
                            "engine_name": "Kingsoft",
                            "engine_update": "20191024",
                            "engine_version": "2013.8.14.323",
                            "method": "blacklist",
                            "result": null
                        },
                        "MAX": {
                            "category": "malicious",
                            "engine_name": "MAX",
                            "engine_update": "20191024",
                            "engine_version": "2019.9.16.1",
                            "method": "blacklist",
                            "result": "malware (ai score=98)"
                        },
                        "Malwarebytes": {
                            "category": "malicious",
                            "engine_name": "Malwarebytes",
                            "engine_update": "20191024",
                            "engine_version": "2.1.1.1115",
                            "method": "blacklist",
                            "result": "Worm.Ainslot"
                        },
                        "MaxSecure": {
                            "category": "undetected",
                            "engine_name": "MaxSecure",
                            "engine_update": "20191021",
                            "engine_version": "1.0.0.1",
                            "method": "blacklist",
                            "result": null
                        },
                        "McAfee": {
                            "category": "malicious",
                            "engine_name": "McAfee",
                            "engine_update": "20191024",
                            "engine_version": "6.0.6.653",
                            "method": "blacklist",
                            "result": "GenericRXAL-AY!E2A1373F5A00"
                        },
                        "McAfee-GW-Edition": {
                            "category": "malicious",
                            "engine_name": "McAfee-GW-Edition",
                            "engine_update": "20191023",
                            "engine_version": "v2017.3010",
                            "method": "blacklist",
                            "result": "GenericRXAL-AY!E2A1373F5A00"
                        },
                        "MicroWorld-eScan": {
                            "category": "malicious",
                            "engine_name": "MicroWorld-eScan",
                            "engine_update": "20191024",
                            "engine_version": "14.0.297.0",
                            "method": "blacklist",
                            "result": "Gen:Variant.Razy.448897"
                        },
                        "Microsoft": {
                            "category": "malicious",
                            "engine_name": "Microsoft",
                            "engine_update": "20191024",
                            "engine_version": "1.1.16500.1",
                            "method": "blacklist",
                            "result": "Backdoor:Win32/Fynloski.A"
                        },
                        "NANO-Antivirus": {
                            "category": "malicious",
                            "engine_name": "NANO-Antivirus",
                            "engine_update": "20191024",
                            "engine_version": "1.0.134.24859",
                            "method": "blacklist",
                            "result": "Trojan.Win32.Win32.dccrbj"
                        },
                        "Paloalto": {
                            "category": "undetected",
                            "engine_name": "Paloalto",
                            "engine_update": "20191024",
                            "engine_version": "1.0",
                            "method": "blacklist",
                            "result": null
                        },
                        "Panda": {
                            "category": "malicious",
                            "engine_name": "Panda",
                            "engine_update": "20191023",
                            "engine_version": "4.6.4.2",
                            "method": "blacklist",
                            "result": "Generic Malware"
                        },
                        "Qihoo-360": {
                            "category": "malicious",
                            "engine_name": "Qihoo-360",
                            "engine_update": "20191024",
                            "engine_version": "1.0.0.1120",
                            "method": "blacklist",
                            "result": "HEUR/Malware.QVM03.Gen"
                        },
                        "Rising": {
                            "category": "malicious",
                            "engine_name": "Rising",
                            "engine_update": "20191024",
                            "engine_version": "25.0.0.24",
                            "method": "blacklist",
                            "result": "Backdoor.Fynloski!8.1FD (TFE:C:qcZJhR0LIuT)"
                        },
                        "SUPERAntiSpyware": {
                            "category": "malicious",
                            "engine_name": "SUPERAntiSpyware",
                            "engine_update": "20191019",
                            "engine_version": "5.6.0.1032",
                            "method": "blacklist",
                            "result": "Trojan.Agent/Gen-Injector"
                        },
                        "SentinelOne": {
                            "category": "malicious",
                            "engine_name": "SentinelOne",
                            "engine_update": "20190807",
                            "engine_version": "1.0.31.22",
                            "method": "blacklist",
                            "result": "DFI - Malicious PE"
                        },
                        "Sophos": {
                            "category": "malicious",
                            "engine_name": "Sophos",
                            "engine_update": "20191023",
                            "engine_version": "4.98.0",
                            "method": "blacklist",
                            "result": "Mal/Generic-S"
                        },
                        "Symantec": {
                            "category": "malicious",
                            "engine_name": "Symantec",
                            "engine_update": "20191023",
                            "engine_version": "1.11.0.0",
                            "method": "blacklist",
                            "result": "ML.Attribute.HighConfidence"
                        },
                        "SymantecMobileInsight": {
                            "category": "type-unsupported",
                            "engine_name": "SymantecMobileInsight",
                            "engine_update": "20191023",
                            "engine_version": "2.0",
                            "method": "blacklist",
                            "result": null
                        },
                        "TACHYON": {
                            "category": "undetected",
                            "engine_name": "TACHYON",
                            "engine_update": "20191024",
                            "engine_version": "2019-10-24.01",
                            "method": "blacklist",
                            "result": null
                        },
                        "Tencent": {
                            "category": "undetected",
                            "engine_name": "Tencent",
                            "engine_update": "20191024",
                            "engine_version": "1.0.0.1",
                            "method": "blacklist",
                            "result": null
                        },
                        "TotalDefense": {
                            "category": "undetected",
                            "engine_name": "TotalDefense",
                            "engine_update": "20191023",
                            "engine_version": "37.1.62.1",
                            "method": "blacklist",
                            "result": null
                        },
                        "Trapmine": {
                            "category": "undetected",
                            "engine_name": "Trapmine",
                            "engine_update": "20190826",
                            "engine_version": "3.1.81.800",
                            "method": "blacklist",
                            "result": null
                        },
                        "TrendMicro": {
                            "category": "malicious",
                            "engine_name": "TrendMicro",
                            "engine_update": "20191024",
                            "engine_version": "11.0.0.1006",
                            "method": "blacklist",
                            "result": "TROJ_GEN.R002C0CJJ19"
                        },
                        "TrendMicro-HouseCall": {
                            "category": "malicious",
                            "engine_name": "TrendMicro-HouseCall",
                            "engine_update": "20191024",
                            "engine_version": "10.0.0.1040",
                            "method": "blacklist",
                            "result": "TROJ_GEN.R002C0CJJ19"
                        },
                        "Trustlook": {
                            "category": "type-unsupported",
                            "engine_name": "Trustlook",
                            "engine_update": "20191024",
                            "engine_version": "1.0",
                            "method": "blacklist",
                            "result": null
                        },
                        "VBA32": {
                            "category": "malicious",
                            "engine_name": "VBA32",
                            "engine_update": "20191023",
                            "engine_version": "4.2.0",
                            "method": "blacklist",
                            "result": "Trojan.Stealer"
                        },
                        "VIPRE": {
                            "category": "malicious",
                            "engine_name": "VIPRE",
                            "engine_update": "20191024",
                            "engine_version": "78804",
                            "method": "blacklist",
                            "result": "Trojan.Win32.Generic!BT"
                        },
                        "ViRobot": {
                            "category": "undetected",
                            "engine_name": "ViRobot",
                            "engine_update": "20191023",
                            "engine_version": "2014.3.20.0",
                            "method": "blacklist",
                            "result": null
                        },
                        "Webroot": {
                            "category": "malicious",
                            "engine_name": "Webroot",
[...]
