---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/files/01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - testapikey
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 03407b05cfb2624364180a01ed7921cd
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "attributes": {
                    "autostart_locations": [
                        {
                            "entry": "",
                            "location": "mock"
                        },
                        {
                            "entry": "launchd.conf",
                            "location": "Startup Scripts"
                        },
                        {
                            "entry": " ",
                            "location": " "
                        },
                        {
                            "entry": "Trend Micro Toolbar",
                            "location": "Google Chrome Add-ons"
            [...]
