---
http_interactions:
- request:
    method: get
    uri: https://www.virustotal.com/api/v3/ip_addresses/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - testapikey
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 80c15de86e54f467baa1ce0757c4e4bc
    body:
      encoding: UTF-8
      string: |-
        {
            "data": {
                "attributes": {
                    "as_owner": "Google LLC",
                    "asn": 15169,
                    "continent": "NA",
                    "country": "US",
                    "last_analysis_results": {
                        "ADMINUSLabs": {
                            "category": "harmless",
                            "engine_name": "ADMINUSLabs",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AegisLab WebGuard": {
                            "category": "harmless",
                            "engine_name": "AegisLab WebGuard",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AlienVault": {
                            "category": "harmless",
                            "engine_name": "AlienVault",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Antiy-AVL": {
                            "category": "harmless",
                            "engine_name": "Antiy-AVL",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Artists Against 419": {
                            "category": "harmless",
                            "engine_name": "Artists Against 419",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "AutoShun": {
                            "category": "undetected",
                            "engine_name": "AutoShun",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Avira": {
                            "category": "harmless",
                            "engine_name": "Avira",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BADWARE.INFO": {
                            "category": "harmless",
                            "engine_name": "BADWARE.INFO",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Baidu-International": {
                            "category": "harmless",
                            "engine_name": "Baidu-International",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BitDefender": {
                            "category": "harmless",
                            "engine_name": "BitDefender",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "BlockList": {
                            "category": "harmless",
                            "engine_name": "BlockList",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Blueliv": {
                            "category": "harmless",
                            "engine_name": "Blueliv",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Botvrij.eu": {
                            "category": "harmless",
                            "engine_name": "Botvrij.eu",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CINS Army": {
                            "category": "harmless",
                            "engine_name": "CINS Army",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CLEAN MX": {
                            "category": "harmless",
                            "engine_name": "CLEAN MX",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "CRDF": {
                            "category": "harmless",
                            "engine_name": "CRDF",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Certego": {
                            "category": "harmless",
                            "engine_name": "Certego",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Comodo Site Inspector": {
                            "category": "harmless",
                            "engine_name": "Comodo Site Inspector",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Comodo Valkyrie Verdict": {
                            "category": "undetected",
                            "engine_name": "Comodo Valkyrie Verdict",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "CyRadar": {
                            "category": "harmless",
                            "engine_name": "CyRadar",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Cyan": {
                            "category": "undetected",
                            "engine_name": "Cyan",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "CyberCrime": {
                            "category": "harmless",
                            "engine_name": "CyberCrime",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Cyren": {
                            "category": "harmless",
                            "engine_name": "Cyren",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "DNS8": {
                            "category": "harmless",
                            "engine_name": "DNS8",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Dr.Web": {
                            "category": "harmless",
                            "engine_name": "Dr.Web",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ESET": {
                            "category": "harmless",
                            "engine_name": "ESET",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ESTsecurity-Threat Inside": {
                            "category": "harmless",
                            "engine_name": "ESTsecurity-Threat Inside",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "EmergingThreats": {
                            "category": "harmless",
                            "engine_name": "EmergingThreats",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Emsisoft": {
                            "category": "harmless",
                            "engine_name": "Emsisoft",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "EonScope": {
                            "category": "harmless",
                            "engine_name": "EonScope",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Feodo Tracker": {
                            "category": "harmless",
                            "engine_name": "Feodo Tracker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Forcepoint ThreatSeeker": {
                            "category": "harmless",
                            "engine_name": "Forcepoint ThreatSeeker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Fortinet": {
                            "category": "harmless",
                            "engine_name": "Fortinet",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "FraudScore": {
                            "category": "harmless",
                            "engine_name": "FraudScore",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "FraudSense": {
                            "category": "harmless",
                            "engine_name": "FraudSense",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "G-Data": {
                            "category": "harmless",
                            "engine_name": "G-Data",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Google Safebrowsing": {
                            "category": "harmless",
                            "engine_name": "Google Safebrowsing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "GreenSnow": {
                            "category": "harmless",
                            "engine_name": "GreenSnow",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Hoplite Industries": {
                            "category": "harmless",
                            "engine_name": "Hoplite Industries",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "IPsum": {
                            "category": "harmless",
                            "engine_name": "IPsum",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "K7AntiVirus": {
                            "category": "harmless",
                            "engine_name": "K7AntiVirus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Kaspersky": {
                            "category": "undetected",
                            "engine_name": "Kaspersky",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Lumu": {
                            "category": "undetected",
                            "engine_name": "Lumu",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "MalSilo": {
                            "category": "harmless",
                            "engine_name": "MalSilo",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malc0de Database": {
                            "category": "harmless",
                            "engine_name": "Malc0de Database",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malekal": {
                            "category": "harmless",
                            "engine_name": "Malekal",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malware Domain Blocklist": {
                            "category": "harmless",
                            "engine_name": "Malware Domain Blocklist",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "MalwareDomainList": {
                            "category": "harmless",
                            "engine_name": "MalwareDomainList",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "MalwarePatrol": {
                            "category": "harmless",
                            "engine_name": "MalwarePatrol",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malwarebytes hpHosts": {
                            "category": "harmless",
                            "engine_name": "Malwarebytes hpHosts",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Malwared": {
                            "category": "harmless",
                            "engine_name": "Malwared",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Netcraft": {
                            "category": "undetected",
                            "engine_name": "Netcraft",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "NotMining": {
                            "category": "undetected",
                            "engine_name": "NotMining",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Nucleon": {
                            "category": "harmless",
                            "engine_name": "Nucleon",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "OpenPhish": {
                            "category": "harmless",
                            "engine_name": "OpenPhish",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Opera": {
                            "category": "harmless",
                            "engine_name": "Opera",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "PREBYTES": {
                            "category": "harmless",
                            "engine_name": "PREBYTES",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "PhishLabs": {
                            "category": "undetected",
                            "engine_name": "PhishLabs",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Phishing Database": {
                            "category": "harmless",
                            "engine_name": "Phishing Database",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Phishtank": {
                            "category": "harmless",
                            "engine_name": "Phishtank",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Quick Heal": {
                            "category": "harmless",
                            "engine_name": "Quick Heal",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Quttera": {
                            "category": "harmless",
                            "engine_name": "Quttera",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Rising": {
                            "category": "harmless",
                            "engine_name": "Rising",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "SCUMWARE.org": {
                            "category": "harmless",
                            "engine_name": "SCUMWARE.org",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sangfor": {
                            "category": "harmless",
                            "engine_name": "Sangfor",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "SecureBrain": {
                            "category": "harmless",
                            "engine_name": "SecureBrain",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Segasec": {
                            "category": "undetected",
                            "engine_name": "Segasec",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "Snort IP sample list": {
                            "category": "harmless",
                            "engine_name": "Snort IP sample list",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sophos": {
                            "category": "harmless",
                            "engine_name": "Sophos",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Spam404": {
                            "category": "harmless",
                            "engine_name": "Spam404",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Spamhaus": {
                            "category": "harmless",
                            "engine_name": "Spamhaus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "StopBadware": {
                            "category": "undetected",
                            "engine_name": "StopBadware",
                            "method": "blacklist",
                            "result": "unrated"
                        },
                        "StopForumSpam": {
                            "category": "harmless",
                            "engine_name": "StopForumSpam",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Sucuri SiteCheck": {
                            "category": "harmless",
                            "engine_name": "Sucuri SiteCheck",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Tencent": {
                            "category": "harmless",
                            "engine_name": "Tencent",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ThreatHive": {
                            "category": "harmless",
                            "engine_name": "ThreatHive",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Threatsourcing": {
                            "category": "harmless",
                            "engine_name": "Threatsourcing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Trustwave": {
                            "category": "harmless",
                            "engine_name": "Trustwave",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "URLQuery": {
                            "category": "harmless",
                            "engine_name": "URLQuery",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "URLhaus": {
                            "category": "harmless",
                            "engine_name": "URLhaus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "VX Vault": {
                            "category": "harmless",
                            "engine_name": "VX Vault",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Virusdie External Site Scan": {
                            "category": "harmless",
                            "engine_name": "Virusdie External Site Scan",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Web Security Guard": {
                            "category": "harmless",
                            "engine_name": "Web Security Guard",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Yandex Safebrowsing": {
                            "category": "harmless",
                            "engine_name": "Yandex Safebrowsing",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZCloudsec": {
                            "category": "harmless",
                            "engine_name": "ZCloudsec",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZDB Zeus": {
                            "category": "harmless",
                            "engine_name": "ZDB Zeus",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZeroCERT": {
                            "category": "harmless",
                            "engine_name": "ZeroCERT",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "Zerofox": {
                            "category": "harmless",
                            "engine_name": "Zerofox",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "ZeusTracker": {
                            "category": "harmless",
                            "engine_name": "ZeusTracker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "desenmascara.me": {
                            "category": "harmless",
                            "engine_name": "desenmascara.me",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "malwares.com URL checker": {
                            "category": "harmless",
                            "engine_name": "malwares.com URL checker",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "securolytics": {
                            "category": "harmless",
                            "engine_name": "securolytics",
                            "method": "blacklist",
                            "result": "clean"
                        },
                        "zvelo": {
                            "category": "harmless",
                            "engine_name": "zvelo",
                            "method": "blacklist",
                            "result": "clean"
                        }
                    },
                    "last_analysis_stats": {
                        "harmless": 84,
                        "malicious": 0,
                        "suspicious": 0,
                        "timeout": 0,
                        "undetected": 10
                    },
                    "last_https_certificate": {
                        "cert_signature": {
                            "signature": "1ff5733c13fde8026ed8c8b6f4c561eb63104fd1172477010104e39c04ebc6e9ebc5f7857b3dd4cb3cbe5d47b27041435733a6b616f2055722f7a5bffbaff77b3a6a814489702b481164e6d711b27d01b376fe9a8af5d5ea63dd15261da93614161be1b4af73e3274e1ff1c8e9277e9f090661266fde17557abe87025e35b0d16decd56d28a76d36596f5ab288f690bfb4a4a3e71699e1584aeeff454a4d980fca916df755c50bfab97d08b53db8d017d37f1ea9da22b613f1e04860f3e6322f885de29b5d7929dfc063f2cc525324524910cc44da50ed8853f29d771ca53794a80496d9a971feec50c9de0e48ffab513c2ed52922a330a63680b56f27458226",
                            "signature_algorithm": "sha256RSA"
                        },
                        "extensions": {
                            "1.3.6.1.4.1.11129.2.4.2": "0481f300f1007700e712f2b0377e1a62fb8ec90c6184f1ea7b37cb561d11265b",
                            "CA": true,
                            "authority_key_identifier": {
                                "keyid": "98d1f86e10ebcf9bec609f18901ba0eb7d09fd2b"
                            },
                            "ca_information_access": {
                                "CA Issuers": "http://pki.goog/gsr2/GTS1O1.crt",
                                "OCSP": "http://ocsp.pki.goog/gts1o1core"
                            },
                            "certificate_policies": [
                                "2.23.140.1.2.2",
                                "1.3.6.1.4.1.11129.2.5.3"
                            ],
                            "crl_distribution_points": [
                                "http://crl.pki.goog/GTS1O1core.crl"
                            ],
                            "extended_key_usage": [
                                "serverAuth"
                            ],
                            "key_usage": [
                                "ff"
                            ],
                            "subject_alternative_name": [
                                "dns.google",
                                "*.dns.google.com",
                                "8888.google",
                                "dns.google.com",
                                "dns64.dns.google",
                                "H`H`d",
                                "H`H`dd",
                                " \\x01H`H`\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x88D",
                                " \\x01H`H`\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x88\\x88",
                                "\b\b\u0004\u0004",
                                "\b\b\b\b"
                            ],
                            "subject_key_identifier": "6f1d1ad1db8fc1289402f35978fd62e92508c9a5",
                            "tags": []
                        },
                        "issuer": {
                            "C": "US",
                            "CN": "GTS CA 1O1",
                            "O": "Google Trust Services"
                        },
                        "public_key": {
                            "algorithm": "RSA",
                            "rsa": {
                                "exponent": "010001",
                                "key_size": 2048,
[...]
