---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/vtapi/v2/url/report
    body:
      encoding: UTF-8
      string: resource=http%3A%2F%2Fwww.unscanned.com&apikey=testapikey&scan=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 82dde70aa4bad5b45d047d625ec37c2a
    body:
      encoding: UTF-8
      string: '{"permalink": "https://www.virustotal.com/url/c1f6493ad83d51c833a875bb10cca5bde7e2c35456168173a0bf25005c43ecaf/analysis/1521125201/",
        "resource": "http://www.unscanned.com/", "url": "http://www.unscanned.com/",
        "response_code": 1, "scan_date": "2018-03-15 14:46:41", "scan_id": "c1f6493ad83d51c833a875bb10cca5bde7e2c35456168173a0bf25005c43ecaf-1521125201",
        "verbose_msg": "Scan request successfully queued, come back later for the
        report"}'
  recorded_at: Thu, 15 Mar 2018 14:46:41 GMT
recorded_with: VCR 4.0.0
