---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/vtapi/v2/file/report
    body:
      encoding: UTF-8
      string: apikey=testapikey&resource=01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scans": {"Bkav": {"detected": false, "version": "1.3.0.6267", "result":
        null, "update": "20141206"}, "MicroWorld-eScan": {"detected": false, "version":
        "12.0.250.0", "result": null, "update": "20141208"}, "nProtect": {"detected":
        false, "version": "2014-12-05.01", "result": null, "update": "20141205"},
        "CMC": {"detected": false, "version": "1.1.0.977", "result": null, "update":
        "20141206"}, "CAT-QuickHeal": {"detected": false, "version": "14.00", "result":
        null, "update": "20141208"}, "ALYac": {"detected": false, "version": "1.0.1.4",
        "result": null, "update": "20141208"}, "Malwarebytes": {"detected": false,
        "version": "1.75.0.1", "result": null, "update": "20141208"}, "Zillya": {"detected":
        false, "version": "2.0.0.2000", "result": null, "update": "20141206"}, "SUPERAntiSpyware":
        {"detected": false, "version": "5.6.0.1032", "result": null, "update": "20141207"},
        "TheHacker": {"detected": false, "version": "6.8.0.5.498", "result": null,
        "update": "20141205"}, "K7GW": {"detected": false, "version": "9.186.14262",
        "result": null, "update": "20141208"}, "K7AntiVirus": {"detected": false,
        "version": "9.186.14262", "result": null, "update": "20141208"}, "Agnitum":
        {"detected": false, "version": "5.5.1.3", "result": null, "update": "20141205"},
        "F-Prot": {"detected": false, "version": "4.7.1.166", "result": null, "update":
        "20141208"}, "Symantec": {"detected": false, "version": "20141.1.0.330", "result":
        null, "update": "20141208"}, "Norman": {"detected": false, "version": "7.04.04",
        "result": null, "update": "20141208"}, "TotalDefense": {"detected": false,
        "version": "37.0.11318", "result": null, "update": "20141207"}, "TrendMicro-HouseCall":
        {"detected": false, "version": "9.700.0.1001", "result": null, "update": "20141208"},
        "Avast": {"detected": false, "version": "8.0.1489.320", "result": null, "update":
        "20141208"}, "ClamAV": {"detected": false, "version": "0.98.5.0", "result":
        null, "update": "20141208"}, "Kaspersky": {"detected": false, "version": "15.0.1.10",
        "result": null, "update": "20141208"}, "BitDefender": {"detected": false,
        "version": "7.2", "result": null, "update": "20141208"}, "NANO-Antivirus":
        {"detected": false, "version": "0.28.6.63850", "result": null, "update": "20141208"},
        "AegisLab": {"detected": false, "version": "1.5", "result": null, "update":
        "20141208"}, "ByteHero": {"detected": false, "version": "1.0.0.1", "result":
        null, "update": "20141208"}, "Tencent": {"detected": false, "version": "1.0.0.1",
        "result": null, "update": "20141208"}, "Ad-Aware": {"detected": false, "version":
        "12.0.163.0", "result": null, "update": "20141208"}, "Comodo": {"detected":
        false, "version": "20303", "result": null, "update": "20141208"}, "F-Secure":
        {"detected": false, "version": "11.0.19100.45", "result": null, "update":
        "20141207"}, "DrWeb": {"detected": false, "version": "7.0.10.8210", "result":
        null, "update": "20141208"}, "VIPRE": {"detected": false, "version": "35530",
        "result": null, "update": "20141208"}, "TrendMicro": {"detected": false, "version":
        "9.740.0.1012", "result": null, "update": "20141208"}, "McAfee-GW-Edition":
        {"detected": false, "version": "v2014.2", "result": null, "update": "20141208"},
        "Sophos": {"detected": false, "version": "4.98.0", "result": null, "update":
        "20141208"}, "Cyren": {"detected": false, "version": "5.4.1.7", "result":
        null, "update": "20141208"}, "Jiangmin": {"detected": false, "version": "16.0.100",
        "result": null, "update": "20141207"}, "Avira": {"detected": false, "version":
        "7.11.193.118", "result": null, "update": "20141208"}, "Antiy-AVL": {"detected":
        false, "version": "1.0.0.1", "result": null, "update": "20141208"}, "Kingsoft":
        {"detected": false, "version": "2013.4.9.267", "result": null, "update": "20141208"},
        "Microsoft": {"detected": false, "version": "1.11202", "result": null, "update":
        "20141208"}, "ViRobot": {"detected": false, "version": "2014.3.20.0", "result":
        null, "update": "20141208"}, "GData": {"detected": false, "version": "24",
        "result": null, "update": "20141208"}, "AhnLab-V3": {"detected": false, "version":
        "2014.12.08.04", "result": null, "update": "20141208"}, "McAfee": {"detected":
        false, "version": "6.0.5.614", "result": null, "update": "20141208"}, "AVware":
        {"detected": false, "version": "1.5.0.21", "result": null, "update": "20141208"},
        "VBA32": {"detected": false, "version": "3.12.26.3", "result": null, "update":
        "20141205"}, "Baidu-International": {"detected": false, "version": "3.5.1.41473",
        "result": null, "update": "20141208"}, "Zoner": {"detected": false, "version":
        "1.0", "result": null, "update": "20141204"}, "ESET-NOD32": {"detected": false,
        "version": "10842", "result": null, "update": "20141208"}, "Rising": {"detected":
        false, "version": "25.0.0.17", "result": null, "update": "20141207"}, "Ikarus":
        {"detected": false, "version": "T3.1.8.5.0", "result": null, "update": "20141208"},
        "Fortinet": {"detected": false, "version": "5.0.999.0", "result": null, "update":
        "20141208"}, "AVG": {"detected": false, "version": "15.0.0.4235", "result":
        null, "update": "20141208"}, "Panda": {"detected": false, "version": "4.6.4.2",
        "result": null, "update": "20141208"}, "Qihoo-360": {"detected": false, "version":
        "1.0.0.1015", "result": null, "update": "20141208"}}, "scan_id": "01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b-1418032127",
        "sha1": "adc83b19e793491b1c6ea0fd8b46cd9f32e592fc", "resource": "01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b",
        "response_code": 1, "scan_date": "2014-12-08 09:48:47", "permalink": "https://www.virustotal.com/file/01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b/analysis/1418032127/",
        "verbose_msg": "Scan finished, information embedded", "total": 55, "positives":
        0, "sha256": "01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b",
        "md5": "68b329da9893e34099c7d8ad5cb9c940"}'
  recorded_at: Sun, 14 Dec 2014 04:19:44 GMT
recorded_with: VCR 2.9.3
