---
http_interactions:
- request:
    method: post
    uri: https://www.virustotal.com/vtapi/v2/url/report
    body:
      encoding: US-ASCII
      string: resource=http%3A%2F%2Fwww.google.com&apikey=testapikey
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"permalink": "https://www.virustotal.com/url/dd014af5ed6b38d9130e3f466f850e46d21b951199d53a18ef29ee9341614eaf/analysis/1419457210/",
        "resource": "http://www.google.com", "url": "http://www.google.com/", "response_code":
        1, "scan_date": "2014-12-24 21:40:10", "scan_id": "dd014af5ed6b38d9130e3f466f850e46d21b951199d53a18ef29ee9341614eaf-1419457210",
        "verbose_msg": "Scan finished, scan information embedded in this object",
        "filescan_id": null, "positives": 0, "total": 61, "scans": {"CLEAN MX": {"detected":
        false, "result": "clean site"}, "MalwarePatrol": {"detected": false, "result":
        "clean site"}, "ZDB Zeus": {"detected": false, "result": "clean site"}, "Tencent":
        {"detected": false, "result": "clean site"}, "AutoShun": {"detected": false,
        "result": "unrated site"}, "ZCloudsec": {"detected": false, "result": "clean
        site"}, "PhishLabs": {"detected": false, "result": "unrated site"}, "K7AntiVirus":
        {"detected": false, "result": "clean site"}, "Quttera": {"detected": false,
        "result": "suspicious site"}, "Spam404": {"detected": false, "result": "clean
        site"}, "AegisLab WebGuard": {"detected": false, "result": "clean site"},
        "MalwareDomainList": {"detected": false, "result": "clean site", "detail":
        "http://www.malwaredomainlist.com/mdl.php?search=www.google.com"}, "ZeusTracker":
        {"detected": false, "result": "clean site", "detail": "https://zeustracker.abuse.ch/monitor.php?host=www.google.com"},
        "zvelo": {"detected": false, "result": "clean site"}, "Google Safebrowsing":
        {"detected": false, "result": "clean site"}, "Kaspersky": {"detected": false,
        "result": "clean site"}, "BitDefender": {"detected": false, "result": "clean
        site"}, "Dr.Web": {"detected": false, "result": "clean site"}, "ADMINUSLabs":
        {"detected": false, "result": "clean site"}, "C-SIRT": {"detected": false,
        "result": "clean site"}, "CyberCrime": {"detected": false, "result": "clean
        site"}, "Websense ThreatSeeker": {"detected": false, "result": "clean site"},
        "VX Vault": {"detected": false, "result": "clean site"}, "Webutation": {"detected":
        false, "result": "clean site"}, "Trustwave": {"detected": false, "result":
        "clean site"}, "Web Security Guard": {"detected": false, "result": "clean
        site"}, "G-Data": {"detected": false, "result": "clean site"}, "Malwarebytes
        hpHosts": {"detected": false, "result": "clean site"}, "Wepawet": {"detected":
        false, "result": "clean site"}, "AlienVault": {"detected": false, "result":
        "clean site"}, "Emsisoft": {"detected": false, "result": "clean site"}, "Malc0de
        Database": {"detected": false, "result": "clean site", "detail": "http://malc0de.com/database/index.php?search=www.google.com"},
        "SpyEyeTracker": {"detected": false, "result": "clean site", "detail": "https://spyeyetracker.abuse.ch/monitor.php?host=www.google.com"},
        "malwares.com URL checker": {"detected": false, "result": "clean site"}, "Phishtank":
        {"detected": false, "result": "clean site"}, "Malwared": {"detected": false,
        "result": "clean site"}, "Avira": {"detected": false, "result": "clean site"},
        "OpenPhish": {"detected": false, "result": "clean site"}, "Antiy-AVL": {"detected":
        false, "result": "clean site"}, "SCUMWARE.org": {"detected": false, "result":
        "clean site"}, "FraudSense": {"detected": false, "result": "clean site"},
        "Opera": {"detected": false, "result": "clean site"}, "Comodo Site Inspector":
        {"detected": false, "result": "clean site"}, "Malekal": {"detected": false,
        "result": "clean site"}, "ESET": {"detected": false, "result": "clean site"},
        "Sophos": {"detected": false, "result": "unrated site"}, "Yandex Safebrowsing":
        {"detected": false, "result": "clean site", "detail": "http://yandex.com/infected?l10n=en&url=http://www.google.com/"},
        "SecureBrain": {"detected": false, "result": "clean site"}, "Malware Domain
        Blocklist": {"detected": false, "result": "clean site"}, "Blueliv": {"detected":
        false, "result": "clean site"}, "Netcraft": {"detected": false, "result":
        "unrated site"}, "PalevoTracker": {"detected": false, "result": "clean site"},
        "CRDF": {"detected": false, "result": "clean site"}, "ThreatHive": {"detected":
        false, "result": "clean site"}, "ParetoLogic": {"detected": false, "result":
        "clean site"}, "Rising": {"detected": false, "result": "clean site"}, "URLQuery":
        {"detected": false, "result": "unrated site"}, "StopBadware": {"detected":
        false, "result": "unrated site"}, "Sucuri SiteCheck": {"detected": false,
        "result": "clean site"}, "Fortinet": {"detected": false, "result": "clean
        site"}, "Baidu-International": {"detected": false, "result": "clean site"}}}'
  recorded_at: Wed, 24 Dec 2014 21:59:01 GMT
recorded_with: VCR 2.9.3
